<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="display-4 text-info">Articles</h1>

  <% @articles.each do |article| %>
    <div class="row">
      <div class="col-lg-8">
        <%= render 'card', article: article %>
      </div>
    </div>
  <% end %>

  <br>

  <%= link_to 'New Article', new_article_path %>
</div>
