<% flash.each do |name, msg| %>
  <div class="col-lg-8 mx-auto">
    <div id="flash_notification" class="<%= flash_color(name) %>" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>
