<div class="px-4 pt-5 my-5 text-center">
  <h2 class="display-2 text-info">Welcome!</h2>
  <div class="col-5 mx-auto">
    <p class="lead mb-4">Create a journal, a novel, or even a essay from the comfort of your home or on the go, either by typing or even by voice. You can edit them anytime you want, however you want, and we'll even spell check for you!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to 'Sign up!', "#", class: 'btn btn-lg btn-outline-info' %>
      <%= link_to 'Learn more!', about_path, class: 'btn btn-lg btn-outline-info' %>
    </div>
  </div>
</div>


<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <small class="text-muted">Copyright &copy; <%= link_to "George Yokoyama", "https://geyokoyama.github.io", class: "text-decoration-none text-muted hover-underline" %></small>
  </div>
</footer>
