<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <small class="text-muted">Copyright &copy; <%= link_to "George Yokoyama", "https://geyokoyama.github.io", class: "text-decoration-none text-muted hover-underline" %></small>
  </div>
</footer>
